<div class="footer">
  <div class="row"><div class="columns">
  {% if show_topics|default(false) %}
    <div class="row footer__links">
      <div class="medium-3 large-2 columns footer__category expandable">
        <h1>
          {{ _('Status') }}
          <span class="expand-icon">
            <span class="icon icon-expand_more"></span>
          </span>
        </h1>
        <div class="footer__category__expander"><ul class="footer__category__list">
          <li class="footer__category__item"><a href="{{ url('record_main') }}">{{ _('Judging Queue') }}</a></li>
          <li class="footer__category__item"><a href="{{ url('status') }}">{{ _('Service Status') }}</a></li>
        </ul></div>
      </div>
      <div class="medium-3 large-2 columns footer__category expandable">
        <h1>
          {{ _('Development') }}
          <span class="expand-icon">
            <span class="icon icon-expand_more"></span>
          </span>
        </h1>
        <div class="footer__category__expander"><ul class="footer__category__list">
          <li class="footer__category__item"><a href="https://github.com/hydro-dev/Hydro" target="_blank">{{ _('Open Source') }}</a></li>
          <li class="footer__category__item"><a href="{{ url('api') }}">{{ _('API') }}</a></li>
        </ul></div>
      </div>
      <div class="medium-3 large-2 columns footer__category expandable end">
        <h1>
          {{ _('Support') }}
          <span class="expand-icon">
            <span class="icon icon-expand_more"></span>
          </span>
        </h1>
        <div class="footer__category__expander"><ul class="footer__category__list">
          <li class="footer__category__item"><a href="{{ url('wiki_help') }}">{{ _('Help') }}</a></li>
          <!--<li class="footer__category__item"><a href="#">{{ _('Blog') }}</a></li>-->
          <li class="footer__category__item"><a href="{{ url('wiki_about', anchor='contact') }}">{{ _('QQ Group') }}</a></li>
        </ul></div>
      </div>
    </div>
  {% endif %}

   <div class="footer__extra-link clearfix">

      <div class="footer__extra-right">
        <ol class="clearfix" >
         <li class="footer__extra-link-item"><a href="{{ url('wiki_about') }}">{{ _('About') }}</a></li>

          <li class="footer__extra-link-item nojs--hide" data-dropdown-target="#menu-footer-theme">
            <span><span class="icon icon-global"></span> {{ _('Theme') }} <span class="icon icon-expand_less"></span></span>
            <ol class="dropdown-target menu" id="menu-footer-theme">
              <li class="menu__item"><a class="menu__link" href="{{ url('set_theme', theme='light') }}">{{ _('Light') }}</a></li>
              <li class="menu__item"><a class="menu__link" href="{{ url('set_theme', theme='dark') }}">{{ _('Dark') }}</a></li>
            </ol>
          </li>
          {%- for html in (handler.domain.ui.footer_extra_html|default('')).split('\n') -%}
            <li class="footer__extra-link-item">{{ html|safe }}</li>
          {%- endfor -%}
          {%- for html in (model.system.get('ui-default.footer_extra_html')|default('')).split('\n') -%}
            <li class="footer__extra-link-item">{{ html|safe }}</li>
          {%- endfor -%}
          <!--<li class="footer__extra-link-item">Worker {{ process.env.NODE_APP_INSTANCE }}, {{ Date.now() - handler.args.__start }}ms</li> -->
          <!-- Prepare {{ handler.args.__prepareDone - handler.args.__prepare }}ms -->
          <!-- Method {{ handler.args.__methodDone - handler.args.__method }}ms -->
          <li class="footer__extra-link-item">Powered by <a href="https://hydro.js.org">Hydro v{{ global.Hydro.version.hydrooj }}</a> {{ "Professional" if model.system.get('server.pro') else "" }}</li>
          <li class="footer__extra-link-item">Modified by <a href="">绿旗编程</a>·<a>冯布斯</a></li>
          <li class="footer__extra-link-item"><a href="https://beian.miit.gov.cn/" aria-label="备案号：苏ICP备2022040418号"> 备案号：苏ICP备2022040418号</a></li>
        </ol>
      </div>
    </div>
  </div>
  </div>
</div>



<style>
.footer__extra-right{
  float: none !important;
  text-align: center !important;
}

.footer__extra-right ol{
  text-align: center !important;
}

.footer__extra-right .footer__extra-link-item{
  float: none !important;
  display: inline-block !important;
  text-align: center !important;
}
</style>