{% extends "layout/basic.html" %}

{% block content %}
<div class="section">
  <div class="section__body">
    <h1>{{ work.title }}</h1>
    <p>{{ _('Author') }}: {{ author.uname }}</p>
    <p>{{ _('Views') }}: {{ work.views }} | {{ _('Likes') }}: {{ work.likes }}</p>

    <h3>{{ _('Code') }}</h3>
    <pre><code>{{ work.code }}</code></pre>

    {% if isAuthor %}
    <p>
      <a href="{{ url('turtle_playground') }}" class="button primary rounded">
        {{ _('Edit in Playground') }}
      </a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}


